<h1> Edit Kid Information </h1>

<%= form_for @kid, url: parent_kid_path, method: 'put' do |form| %>

  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <%= form.label :last_name %>
  <%= form.text_field :last_name %>

  <%= form.label :birthdate %>
  <%= form.date_field :birthdate %>

  <%= form.label :sin %>
  <%= form.text_field :sin %>

  <%= form.submit "Submit" %>

<% end %>
