<h1>Child Registration</h1>

<div class="row">
  <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">

    <h3 class="text-center">Who will be joining us this summer?</h3>

    <%= form_for @kid, url: parent_kids_path, method: 'post' do |form| %>

    <h4>General Information:</h4>
    <div class="form-group">
      <label>First Name</label>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Birthdate</label>
      <%= form.date_field :birthdate, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Social Insurance Number</label>
      <%= form.text_field :sin, class: "form-control" %>
    </div>

    <h4>Medical Information:</h4>
    <div class="form-group">
      <label>Medicare</label>
      <%= text_field_tag :medicare, nil, class: "form-control" %>
    </div>

    <div class="form_group">
      <label>Allergies</label>
      <%= text_area_tag :allergies, nil, class: "form-control" %>
      No Allergies:
      <%= check_box_tag :allergies, 'no allergies', class: "form-control" %>
    </div>

    <div class="form_group">
      <label>Conditions</label>
      <%= text_area_tag :conditions, nil, class: "form-control" %>
      No conditions:
      <%= check_box_tag :conditions, 'no conditions', class: "form-control" %>
    </div>

    <div class="form_group">
      <label>Medications
      </label>
      <%= text_area_tag :medications, nil, class: "form-control" %>
      No medications:
      <%= check_box_tag :medications, 'no medications', class: "form-control" %>
    </div>

    <div class="form_group">
      <label>
        Dietary Restrictions
      </label>
      <%= text_area_tag :dietary_restrictions, nil, class: "form-control" %>
      No Dietary Restrictions:
      <%= check_box_tag :dietary_restrictions, 'no dietary restrictions', class: "form-control" %>
    </div>

    <div class="form_group">
      <label>
        Does your child have an epi-pen?
      </label>
      <%= select_tag :epi_pen, "<option value=true>Yes</option><option value=false>No</option>".html_safe, class: "form-control" %>
    </div>

  <div class"form-group">
    <label for="camp">
      Camp Name
    </label>
    <%= select_tag('camp', options_from_collection_for_select(@camps,'id','name'), class: "form-control" )%>
  </div>

  <%= submit_tag "Submit", class: "btn" %>

  <% end %>
</div>

</div>
</div>
