<h1> <%= @kid.first_name %> <%= @kid.last_name %> </h1>

<h2> General Information </h2>

<h3> Birthdate: </h3> <%= @kid.birthdate %>

<h3> Social Insurance Number: </h3> <%= @kid.sin %>

<h3> Group: </h3> GROUP HERE with link_to

<h2> Medical Information </h2>

<h3> Medicare: </h3> <%= @medical_info.medicare %>

<h3> Allergies: </h3> <%= @medical_info.allergies %>

<h3> Conditions: </h3> <%= @medical_info.conditions %>

<h3> Medications: </h3> <%= @medical_info.medications %>

<h3> Dietary Restrictions: </h3> <%= @medical_info.dietary_restrictions %>

<h3> Epi Pen: </h3> <%= @medical_info.epi_pen %>
