<h1> Edit <%= @kid.first_name %> <%= @kid.last_name %> 's Information </h1>

<%= form_for @kid, url: director_kid_path, method: 'put' do |form| %>

<%= form.label :first_name %>
<%= form.text_field :first_name %>

<%= form.label :last_name %>
<%= form.text_field :last_name %>

<%= form.label :birthdate %>
<%= form.date_field :birthdate %>

<%= form.label :social_insurance_number %>
<%= form.text_field :sin %>

<%= text_field_tag("medicare", @medical_info.medicare) %>
<%= text_area_tag("allergies", @medical_info.allergies) %>
<%= text_area_tag("conditions", @medical_info.conditions) %>
<%= text_area_tag("medications", @medical_info.medications) %>
<%= text_area_tag("dietary_restrictions", @medical_info.dietary_restrictions) %>
<%= select_tag('epi_pen', "<option value=true>Yes</option><option value=false>No</option>".html_safe)%>

<%= form.submit "Submit" %>

<% end %>
