<h1>
  Add a Kid to Camp!
</h1>

<%= form_for @kid, url: director_kids_path, method: 'post' do |form| %>
  <h3> General Information </h3>

  <p>First Name: <%= form.text_field("first_name") %></p>
  <p>Last Name: <%= form.text_field("last_name") %></p>
  <p>Birthday: <%= form.date_field("birthdate") %></p>
  <p>Social Insurance Number: <%= form.text_field("sin") %></p>
  <p>Parent Email: <%= email_field_tag("parent_email")%></p>

  <h3> Medical Information </h3>

  <p>Medicare: <%= form.text_field("medicare") %></p>

  <p>Allergies: <%= text_area_tag('allergies') %> </p>
  No Allergies: <%= check_box_tag('allergies', 'no allergies') %>

  <p>Conditions: <%= text_area_tag('conditions') %> </p>
  No conditions: <%= check_box_tag('conditions', 'no conditions') %>

  <p>Medications: <%= text_area_tag('medications') %> </p>
  No medications: <%= check_box_tag('medications', 'no medications') %>

  <p>Dietary Restrictions: <%= text_area_tag('dietary_restrictions')%> </p>
  No Dietary Restrictions: <%= check_box_tag('dietary_restrictions', 'no dietary restrictions') %>

  <p>Epi-Pen <%= select_tag('epi_pen', "<option value=true>Yes</option><option value=false>No</option>".html_safe)%> </p>

  <p>Medicare: <%= form.text_field("medicare") %></p>

  <p>Parent Email: <%= email_field_tag :parent_email %></p>

  <%= submit_tag("Submit") %>

<% end %>
