<h1>
  Add a Kid to Camp!
</h1>

<%= form_tag(:action => "create") do %>

<h3> General Information </h3>

<p>First Name:
  <%=text_field_tag("first_name") %></p>

<p>Last Name:
  <%=text_field_tag("last_name") %></p>

</p>Birthday:
<%=date_field_tag("birthdate") %></p>

<p>Social Insurance Number:
<%=text_field_tag("sin") %></p>

<p>Medicare:
<%=text_field_tag('medicare') %></p>

<p>Parent Email:
<%=email_field_tag("parent_email")%></p>

<h3> Medical Information </h3>

<p>Allergies:
<%= text_area_tag('allergies') %> </p>

<p>Conditions:
<%= text_area_tag('conditions') %> </p>

<p>Medications:
<%= text_area_tag('medications') %> </p>

<p>Epi-Pen
<%= select_tag('epi_pen', "<option value=true>Yes</option><option value=false>No</option>".html_safe)%> </p>

<%= submit_tag("Submit") %>

<% end %>
