<h1>
  Add a Kid to Camp!
</h1>

<%= form_for @kid, url: director_kids_path, method: 'post' do |form| %>

  <p>First Name: <%= form.text_field("first_name") %></p>

  <p>Last Name: <%= form.text_field("last_name") %></p>

  </p>Birthday: <%= form.date_field("birthdate") %></p>

  <p>Social Insurance Number: <%= form.text_field("sin") %></p>

  <p>Medicare: <%= form.text_field("medicare") %></p>

  <p>Parent Email: <%= email_field_tag :parent_email %></p>

  <%= submit_tag("Submit") %>

<% end %>
