<h1>
  <%= @kid.first_name %>
  <%= @kid.last_name %>
</h1>

<h3>
  Birthdate:
</h3>
<%= @kid.birthdate %>
<h3>
  Social Insurance Number:
</h3>
<%= @kid.sin %>
<h3>
  Current Group:
</h3>
<% @groups.each do |group| %>
<div>
  <p>Group Name:
  <%= link_to group.name, director_group_path(:id => group.id) %></p>
  <p>Age Range:
  <%= group.min_age %> - <%= group.max_age %></p>
  <p>Year:
  <%= group.start_date %></p>
</div>
<% end %>

<h3>
  Parents:
</h3>
<% @parents.each do |parent| %>
<div>
  <p>First Name:
    <%= parent.user.first_name %></p>
  <p>Last Name:
    <%= parent.user.last_name %></p>
  <p>Email:
    <%= parent.user.email %></p>
  <p>Phone Number:
    <%= number_to_phone(parent.phone_number, area_code: true) %></p>
</div>

<% end %>

<h3>
  Current Counselors:
</h3>
<% @counselors.each do |counselor| %>
<p><%= link_to counselor.alias, director_counselor_path(:id => counselor.id) %> </p>
<% end %>
<h3>
  Medical Information:
</h3>

<p>
  Medicare
</p>
<%= @medical_info.medicare %>

<p>
  Allergies:
</p>
<%=@medical_info.allergies %>
</p>
<p>
Conditions:
</p>
<%=@medical_info.conditions %>
</p>
<p>
Medication:
</p>
<%=@medical_info.medications %>
</p>
<p>
Epi Pen:
</p>
<%=@medical_info.epi_pen %>
</p>

<br/>
<%= link_to "Edit Child Information", edit_director_kid_path(:id => @kid.id) %>
<br/>
<%= link_to "Remove Child from Database", "/d/kids/#{@kid.id}", method: "DELETE" %>
