<div class="row">
  <div class="col-md-offset-1">
    <h1>
      <%= @kid.first_name %>
      <%= @kid.last_name %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1">
    <h3>
      Birthdate:
    </h3>
    <%= @kid.birthdate %>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1">
    <h3>
      Social Insurance Number:
    </h3>
    <%= @kid.sin %>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1">
    <h3>
      Current Group:
    </h3>
  </div>
</div>
<% @groups.each do |group| %>
<%= render "/layouts/card_list", objects: [@groups], type: "group", role: 'd' %>
<% end %>

<div class="row">
  <div class="col-md-offset-1">
    <h3>
      Parents:
    </h3>
  </div>
</div>
<%= render "/layouts/card_list", objects:[@parents], type: "parent", role: 'd' %>


<div class="row">
  <div class="col-md-offset-1">
    <h3>
      Current Counselors:
    </h3>
  </div>
</div>
    <%= render "/layouts/card_list", objects:[@counselors], type: 'counselor', role: "d" %>

<div class="row">
  <div class="col-md-offset-1">
    <h3>
      Medical Information:
    </h3>
  </div>
</div>

<%= render "/layouts/card_list_medium", objects:[[@medical_info]], type: 'medical', role: "d" %>

<div class="row">
  <div class="col-md-offset-1">
    <br/>
    <%= link_to "Edit Child Information", edit_director_kid_path(:id => @kid.id), class: "btn fl-l" %>
    <%= link_to "Remove Child from Database", "/d/kids/#{@kid.id}", method: "DELETE", class: "btn fl-l" %>
  </div>
</div>
