<div class="row">
  <div class="col-md-2 col-xs-1"></div>
  <div class="col-md-8 col-xs-10">
    <div class="form-box clearfix">
      <%= form_for @user, url: director_counselors_path, method: "post" do |form| %>
        <div class="form-group">
          <h3 class="text-center">Invite a Counselor</h3>
          <label for="counselors_first_name">First name</label>
          <%= form.text_field :first_name, class: 'form-control', placeholder: 'First name' %>
        </div>
        <div class="form-group">
          <label for="counselors_last_name">Last name</label>
          <%= form.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
        </div>
        <div class="form-group">
          <label for="counselors_email">Email address</label>
            <%= form.text_field :email, class: 'form-control', placeholder: 'Email address' %>
        </div>
        <div class"form-group">
          <label for="group"> Group Name </label>
          <%= select_tag('name', options_from_collection_for_select(@groups,'name','name')) %>
        </div>

        <%= form.submit "Create account", class: 'btn btn-success pull-right' %>

      <% end %> <!-- end form -->
    </div> <!-- end form-box -->
  </div>
</div> <!-- end row -->
