<div class="col-sm-offset-1 col-sm-10">
<h1> <%= @counselor.user.first_name %> <%= @counselor.user.last_name %> </h1>

<h3> Alias: </h3> <%=@counselor.alias %>
<h3> Training Status: </h3> <%=@counselor.training %>
<h3> Account Status: </h3> <%=@counselor.account_status %>
<h3> Email: </h3> <%=@counselor.user.email %>
<h3> Group: </h3> <%=@group[0].name%>

<br />

<%= link_to "Edit Counselor", edit_director_counselor_path(:id => @counselor.id) %>
<br />
<%= link_to "View all Counselors", director_counselors_path %>
</div>