<div class="col-sm-offset-1 col-sm-10">
<h1>Create a Group!</h1>

<%= form_for @group, url: director_groups_path, method: "post" do |form| %>

  <p>Group Name: <%= form.text_field("name") %></p>
  <p>Minimum Age: <%= form.number_field("min_age") %></p>
  <p>Maximum Age: <%= form.number_field("max_age") %></p>
  <p>Start Date: <%= form.date_field("start_date") %></p>

  <%= form.submit :Submit %>

<% end %>
</div>