<h1> <%= @group.name %> </h1>

<h3> Age Range: </h3> <%= @group.min_age %> - <%= @group.max_age %>

<h3> Counselors: </h3>

<div class="item-list">
  <% @counselors.each do |counselor| %>
    <div class="row user-card">
      <div class="col-sm-2 col-xs-3">
        <img src="<%= Faker::Avatar.image("counselor-avatar", "50x50", "png", "set2") %>">
      </div>
      <div class="col-sm-6 col-xs-6 name">
        <%= link_to ("#{counselor.user.first_name} #{counselor.user.last_name}"), counselor_path(:id => counselor.id) %>
      </div>
      <div class="col-sm-2 col-xs-3 alias">
        <%= counselor.alias %>
      </div>
    </div>
  <% end %>
</div>