<div class="row">
  <div class="col-sm-offset-1 col-sm-10">

    <h1> <%= @group.name %> at Camp <%= @camp.name %></h1>
    <h3> Age Range: </h3> <%= @group.min_age %> - <%= @group.max_age %>
    <div class="row">
      <h3> Counselors: <%= @counselors.count %> </h3>
      <%= render 'layouts/card_list', objects: [@counselors], type: "counselor", role: "d" %>
    </div>
    <div class="row">
      <h3 class="col-md-6"> Kids: <%=@kids.count %> </h3>
      <%= render 'layouts/card_list', objects: [@kids], type: "kid", role: "d" %>
    </div>

    <div class="row al-c">
      <%=link_to "Edit Group",  edit_director_group_path(:id => params[:id]), class: 'btn' %>
      <%= link_to "Delete Group", director_group_path, method: "delete", class: 'btn' %>
    </div>
  </div>
</div>