<h1>Create a Parent!</h1>

<%= form_for @parent do |form| %>

  <%= form.label :address %>
  <%= form.text_field :address %>

  <%= form.label :phone_number %>
<<<<<<< fe2365f9c79d790cc6d392556b288d343c375396
  <%= form.text_field :phone_number %>
=======
  <%= form.date_field :phone_number %>
>>>>>>> New parent form

  <%= form.submit :Submit %>

<% end %>