<main class="top-box margin-fix clearfix">
  <nav class="nav">
    <div class="navbar-header fl-l">
      CampZone
    </div>
    <ul class="nav-list">
      <li><%= link_to "Signup", signup_director_path %></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <article class="flex-11 splash-text al-c">
    <h1>Organize Your Summer Camp</h1>

    <h3 class="al-c">Spend more time leading and less time managing</h3>
    <p class="col-xs-12 col-sm-8 col-md-6">An organizational tool to help camp directors, counselors, and parents spend more time doing what matters.</p>


    <div class="primary-cta">
    <h3>Register your camp and get organized!</h3>
      <%= link_to "Get started!", signup_director_path, class: "btn btn-wide"%>
    </div>

    <%= link_to camps_path, class: "secondary-cta" do %>
      <h4>Parents click here to find a local camp!</h4>
    <% end %>

    <p class="existing">Already have an account? <%= link_to "Click here to login!", login_path %></p>

  </article>
  <nav class="nav nav-bottom">
    <ul class="nav-list">
      <li><a href="https://facebook.com/"><%= fa_icon "facebook-official" %></a></li>
      <li><a href="https://twitter.com/"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://linkedin.com/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://github.com/"><%= fa_icon "github" %></a></li>
    </ul>
  </nav>
</main>