<main class="top-box margin-fix clearfix">

  <nav class="nav">
    <div class="navbar-header fl-l">
      CampZone
    </div>
    <ul class="nav-list">
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>

  <article class="flex-3 al-c splash-text">
    <h1>Prepare for Summer</h1>
    <%= link_to signup_parent_path, class: "parent-cta" do %>
      <h4>Sign your kids up for camp quickly and easily with CampZone!</h4>
    <% end %>

    <div>
    <p class="existing">Already have an account? <%= link_to "Click here to login!", login_path %></p>
    <p class="existing">Camp Directors, want to list your camp on CampZone? <%= link_to "Click here to get started!", signup_parent_path %></p>
    </div>
  </article>

  <div class="flex-3">
    <h3 class="splash-text al-c">Find a camp on CampZone in your area!</h3>
    <%= render "/layouts/card_list", type: "camp", objects: [@camps, @addresses, @directors], role: "" %>
  </div>
  
  <nav class="nav nav-bottom">
    <ul class="nav-list">
      <li><a href="https://facebook.com/"><%= fa_icon "facebook-official" %></a></li>
      <li><a href="https://twitter.com/"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://linkedin.com/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://github.com/"><%= fa_icon "github" %></a></li>
    </ul>
  </nav>
</main>
