<h1> Edit <%= @user.first_name %> <%= @user.last_name %> Information </h1>

<%= form_for @user, url: director_profile_path, method: "put" do |form| %>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
      <div class="form-group">
        <p> First Name: <%=form.text_field ('first_name'), class: "form-control" %> </p>
      </div>

      <div class="form-group">
        <p> Last Name: <%=form.text_field ('last_name'), class: "form-control" %> </p>
      </div>

      <div class="form-group">
        <p> Email: <%=form.email_field ('email'), class: "form-control" %> </p>
      </div>

      <div class="form-group">
        <p> Password <%=form.password_field ('password'), class: "form-control" %> </p>
      </div>

      <p> <%=form.submit ('Submit'), class: "btn" %> </p>
    </div>
  </div>
<% end %>