<div class="row">
  <div class="col-xs-offset-1">
    <h1>Start your CampZone Experience!</h1>
    <%= link_to new_director_group_path, class:"btn fl-l" do %>
      Add Group
    <% end %>

    <%= link_to new_director_counselor_path, class:"btn fl-l" do %>
      Add Counselor
    <% end %>

    <%= link_to new_director_kid_path, class:"btn fl-l" do %>
      Add Kid
    <% end %>

  </div>
</div>

  <%= render :file => 'director/groups/index' %>
  <%= render :file => 'director/counselors/index' %>
  <%= render :file => 'director/kids/index' %>
