<h1> Director Dashboard </h1>

<h3> Total Kids: </h3> <%= @kids_count %> <%= link_to "View all Kids", kids_path %>
<h3> Total Counselors </h3> <%= @counselor_count %> <%= link_to "View All Couselors", counselors_path %>
<h3> Total Groups </h3> <%= @group_count %> <%= link_to "View all Groups", groups_path %>
