<div class="col-sm-offset-1 col-sm-10">
  <h1> <%= @group.name %> at Camp <%= @camp.name %></h1>
  <h2> Age Range: </h2> <%= @group.min_age %> - <%= @group.max_age %>
  <h2> Counselors: <%= @counselors.count %> </h2>
</div>
<%= render 'layouts/card_list', objects: [@counselors], type: "counselor", role: "c" %>

<div class="col-sm-offset-1 col-sm-10">
  <h2> Kids: <%= @kids.count %></h2>
</div>
<%= render 'layouts/card_list', objects: [@kids], type: "kid", role: "c" %>