<h1> <%= @current_group.name %> </h1>

<h3> Age Range: </h3> <%= @current_group.min_age %> - <%= @current_group.max_age %>

<h3> Counselors: </h3>

<div class="item-list">
  <% @counselors.each do |counselor| %>
    <div class="row user-card">
      <div class="col-sm-2 col-xs-3">
        <img src="<%= Faker::Avatar.image("counselor-avatar", "50x50", "png", "set2") %>">
      </div>
      <div class="col-sm-6 col-xs-6 name">
        <%= link_to ("#{counselor.user.first_name} #{counselor.user.last_name}"), counselor_path(:id => counselor.id) %>
      </div>
      <div class="col-sm-2 col-xs-3 alias">
        <%= counselor.alias %>
      </div>
    </div>
  <% end %>
</div>


<h3> All Kids </h3>
  <h4> Total Kids: <%= @kids.count %></h4>
  <div class="item-list">

  <% @kids.each_with_index do |kid, index| %>
    <% if index.even? %><div class="row" id="kids-row"><% end %>
      <div class="col-sm-6 col-xs-6">
        <div class="user-card-sm">
          <img src="<%= Faker::Avatar.image("counselor-avatar", "50x50", "png", "set4") %>">
          <br>
          <%= link_to ("#{kid.first_name} #{kid.last_name}"), kid_path(:id => kid.id) %>
        </div>
      </div>
    <% if (index.odd?)  %></div><% end %>
  <% end %>

  </div>
</div>