<div class="col-sm-offset-1 col-sm-10">
<h1> Welcome,
  <%= @counselor.user.first_name %>
  <%= @counselor.user.last_name %>
</h1>

<h3>
  Alias:
</h3>
<%= @counselor.alias %>
<h3>
  Email Address:
</h3>
<%= @counselor.user.email %>
<h3>
  Currently Training?
</h3>
<%=@counselor.training %>

<h3>
  Groups:
</h3>

<% @groups.each do |group| %>
<div>
  <p>
    Group Name:
    <%= link_to group.name, "/c/groups/#{group.id}" %>
  </p>
  <p>Start Date:
    <%= group.start_date %>
  </p>
</div>
<% end %>

<br />
<%= link_to "Edit Personal Information", "/c/settings" %>
</div>