<div class="row">
  <div class="col-md-offset-1">
    <h1>
      <%= @kid.first_name %>
      <%= @kid.last_name %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1">
    <h3>
      Birthdate:
    </h3>
    <%= @kid.birthdate %>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1">
    <h3 class>
      Group:
    </h3>
  </div>
</div>
<%= render "/layouts/card_list_medium", objects: [[@group]], type: "group", role: "c" %>

<div class="row">
  <div class="col-md-offset-1">
    <h3>
      Medical Information:
    </h3>
  </div>
</div>

<%= render "/layouts/card_list_medium", objects: [[@medical_info]], type: "medical", role: "c" %>

<div class="row">
  <div class="col-md-offset-1">
    <h3>
      Parents:
    </h3>
  </div>
</div>

<% @parents.each do |parent| %>

<%= render "/layouts/card_list", objects: [[parent]], type: "parent", role: 'c' %>

<% end %>
