<% 
  camp = objects[0][i]
  address = objects[1].select { |a| a.id == camp.address_id }
  user = objects[2].select { |u| u.id.to_s == camp.director.user_id }
%>
<div class="card">
  <%= link_to signup_parent_path do %>
  <div class="card-contents">
    <div class="card-avatar">
      <img class="" src="<%= Faker::LoremPixel.image('100x100', false, 'people') %>">
    </div>
    <div class="card-info">
      <div class="card-details">
        <p><b><%= camp.name %></b></p>
        <p><i>Director:</i> <b><%= user[0].first_name %> <%= user[0].last_name %></b></p>
        <p><%= address[0].city %>, <%= address[0].province %>, <%= address[0].country %></p>
      </div>
      <div class="card-details">
        <p ></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
