<%
  camp = object
  address = objects[1].find { |a| a.id == camp.address_id }
  director = objects[2].find { |d| d.id == camp.director_id }

%>
<div class="card">
  <div class="card-contents">
    <div class="card-avatar">
      <img class="" src="<%= Faker::LoremPixel.image('70x70', false, 'people') %>">
    </div>
    <div class="card-info">
      <div class="card-details">
        <p><i>Camp:</i> <b><%= camp.name %></b></p>
        <p><i>Director:</i> <b><%= director.user.first_name %> <%= director.user.last_name %></b></p>
        <p><%= address.city %>, <%= address.province %>, <%= address.country %></p>
      </div>
      <div class="card-details">
        <p ></p>
      </div>
    </div>
  </div>
</div>
