<% address = Address.find_by_id(person.address_id) %>
<% user = User.find_by_id(person.director.user_id) %>
<div class="card">
  <%= link_to signup_parent_path do %>
  <div class="card-contents">
    <div class="card-avatar">
      <img class="" src="<%= Faker::LoremPixel.image('70x70', false, 'people') %>">
    </div>
    <div class="card-info">
      <div class="card-details">
        <p><i>Camp:</i> <b><%= person.name %></b></p>
        <p><i>Director:</i> <b><%= user.first_name %> <%= user.last_name %></b></p>
        <p><%= address.city %>, <%= address.province %>, <%= address.country %></p>
      </div>
      <div class="card-details">
        <p ></p>
      </div>
    </div>
  </div>
  <% end %>
</div>