<% 
  camp = object
  addresses = objects[1]
  directors = objects[2]

%>
<div class="card">
  <%= link_to signup_parent_path do %>
  <div class="card-contents">
    <div class="card-avatar">
      <img class="" src="">
    </div>
    <div class="card-info">
      <div class="card-details">
        <p><i>Camp:</i> <b><%= camp.name %></b></p>
        <p><i>Director:</i> <b><%= directors[i].inspect %> <%= %></b></p>
        <p><%= addresses[i].city %>, <%= addresses[i].province %>, <%= addresses[i].country %></p>
      </div>
      <div class="card-details">
        <p ></p>
      </div>
    </div>
  </div>
  <% end %>
</div>