<% 
  camp = object
  address = objects[1].find { |a| a.id == camp.address_id }
  director = objects[2].find { |d| d.id == camp.director_id }

%>
<div class="card">
  <%= link_to signup_parent_path do %>
  <div class="card-contents">
    <div class="card-avatar">
      <img class="" src="">
    </div>
    <div class="card-info">
      <div class="card-details">
        <p><i>Camp:</i> <b><%= camp.name %></b></p>
        <p><i>Director:</i> <b><%= director.first_name %> <%= director.last_name %></b></p>
        <p><%= address.city %>, <%= address.province %>, <%= address.country %></p>
      </div>
      <div class="card-details">
        <p ></p>
      </div>
    </div>
  </div>
  <% end %>
</div>