<% counselor = object %>
<div class="card">
  <div class="card-contents">
    <div class="card-avatar">
      <img class="" src="<%= Faker::LoremPixel.image('70x70') %>">
    </div>
    <div class="card-info">
      <div class="card-details">
        <p><%= counselor.user.first_name %> <%= counselor.user.last_name %></p>
        <% if role == "d" %>
        <p><%= link_to counselor.alias, "/#{role}/counselors/#{counselor.id}"%></p>
        <% else %>
        <p> <%= counselor.alias %> </p>
        <% end %>
      </div>
      <div class="card-details">
        <p><%= counselor.user.email %></p>
      </div>
    </div>
  </div>
</div>
