<div class="card">
  <div class="card-contents">
    <div class="card-avatar">
      <img class="" src="<%= Faker::LoremPixel.image('70x70') %>">
    </div>
    <div class="card-info">
      <div class="card-details">
        <%= link_to "/#{role}/groups/#{person.id}" do %>
          <p><%= person.name %>
        <% end %>
        <p>Age Range: <%= person.min_age %> - <%= person.max_age %></p>
        <p>Starting: <%= person.start_date %></p>
      </div>
    </div>
  </div>
</div>