<% group = object %>

<div class="card">
  <div class="card-contents">
    <img class="card-avatar" src="<%= Faker::LoremPixel.image('70x70') %>">
    <div class="card-info">
      <div class="card-title">
        <% if current_user.role != "parent" %>
          <%= link_to "/#{role}/groups/#{group.id}" do %>
            <p><%= group.name %></p>
          <% end %>
        <% else %>
          <p><%= group.name %></p>
        <% end %>
      </div>
      <div class="card-details">
        <div class="attr-keys al-l">
          <p><b>Age Group:</b></p>
          <p><b>Start Date:</b></p>
        </div>
        <div class="attr-values al-r">
          <p><%= group.min_age %> - <%= group.max_age %></p>
          <p><%= group.start_date %></p>
        </div>
      </div>
    </div>
  </div>
</div>
