<% kid = object %>

<div class="card">
  <div class="card-contents">
    <div class="card-avatar">
      <img class="" src="<%= Faker::LoremPixel.image('70x70', false, 'people') %>">
    </div>
    <div class="card-info">
      <div class="card-details">
        <%= link_to "/#{role}/kids/#{kid.id}" do %>
          <p><%= kid.first_name %> <%= kid.last_name %></p>
        <% end %>
        <p><%= kid.birthdate %></p>
      </div>
      <div class="card-details">
        <p><%= kid.parents[0].phone_number %></p>
      </div>
    </div>
  </div>
</div>
