<% kid = object %>

<div class="card">
  <div class="card-contents">
    <img class="card-avatar" src="<%= Faker::LoremPixel.image('70x70', false, 'people') %>">
    <div class="card-info">
      <div class="card-title">
        <%= link_to "/#{role}/kids/#{kid.id}" do %>
          <p><%= kid.first_name %> <%= kid.last_name %></p>
        <% end %>
      </div>
      <div class="card-details">
        <div class="attr-keys">
          <p><b>Age:</b></p>
          <p><b>Phone Number:</b></p>
        </div>
        <div class="attr-values">
          <p><%= calculate_age(kid) %></p>
          <p><%= kid.parents[0].phone_number %></p>
        </div>
    </div>
  </div>
</div>
