<% medical_info = object %>

<div class="card">
  <div class="card-contents">
    <div class="card-info">
      <div class="card-details">
        <p>Medicare Number:
          <%= medical_info.medicare %>
        </p>
        <p>Allergies:
          <%= medical_info.allergies %>
        </p>
        <p>Conditions:
          <%= medical_info.conditions %>
        </p>
        <p>Medications:
          <%= medical_info.medications %>
        </p>
        <p>Dietary Restrictions:
          <%= medical_info.dietary_restrictions %>
        </p>
        <p>Epi Pen:
          <%= medical_info.epi_pen %>
        </p>
      </div>
    </div>
  </div>
</div>
