<% medical_info = object %>

<div class="card">
  <div class="card-contents">
    <div class="card-info">
      <div class="card-details">
        <div class="attr-keys">
          <p><b>Medicare:</b></p>
          <p><b>Allergies:</b></p>
          <p><b>Conditions:</b></p>
          <p><b>Medications:</b></p>
          <p><b>Dietary Restrictions:</b></p>
          <p><b>Epi Pen:</b></p>
        </div>
        <div class="attr-values">
          <p><%= medical_info.medicare %></p>
          <p><%= medical_info.allergies %></p>
          <p><%= medical_info.conditions %></p>
          <p><%= medical_info.medications %></p>
          <p><%= medical_info.dietary_restrictions %></p>
          <p><%= medical_info.epi_pen %></p>
        </div>
      </div>
    </div>
  </div>
</div>
