<% medical_info = object %>

<div class="card">
  <div class="card-contents">
    <div class="card-info">
      <div class="card-details">
        <p><b>Medicare Number:</b>
          <%= medical_info.medicare %>
        </p>
        <p><b>Allergies:</b>
          <%= medical_info.allergies %>
        </p>
        <p><b>Conditions:</b>
          <%= medical_info.conditions %>
        </p>
        <p><b>Medications:</b>
          <%= medical_info.medications %>
        </p>
        <p><b>Dietary Restrictions:</b>
          <%= medical_info.dietary_restrictions %>
        </p>
        <p><b>Epi Pen:</b>
          <%= medical_info.epi_pen %>
        </p>
      </div>
    </div>
  </div>
</div>
