<nav class="navbar">
  <div class="nav-list">
    <div class="navbar-header fl-l">
    <% if director? %>
      <%= link_to :CampZone, director_dashboard_index_path, class:"navbar-brand" %>
    <% elsif counselor? %>
      <%= link_to :CampZone, counselor_groups_path, class:"navbar-brand" %>
    <% elsif parent?%>
      <%= link_to :CampZone, parent_profile_path, class:"navbar-brand" %>
    <% end %>
    </div>
    <% if current_user %>
      <div class="navbar-header fl-r">
        <img class="nav-avatar" src="<%= Faker::Avatar.image("avatar", "30x30", "png", "set4") %>">
        <span class="nav-user"><%= current_user.first_name %></span>
      </div>
    <% end %>
    <div class="nav-links clearfix">
      <ul class="al-r al-c-xs cl-b-xs">
        <% if director? %>
          <li><%= link_to :Dashboard, director_dashboard_index_path %></li>
          <li><%= link_to :Counselors, director_counselors_path %></li>
          <li><%= link_to :Groups, director_groups_path %></li>
          <li><%= link_to :Kids, director_kids_path %></li>
        <% end %>
        <% if counselor? %>
          <li><%= link_to :Groups, counselor_groups_path %></li>
          <li><%= link_to :Kids, counselor_kids_path %></li>
          <li><%= link_to :Profile, counselor_profile_path %></li>
          <li><%= link_to :Settings, counselor_settings_path %></li>
        <% end %>
        <% if parent? %>
          <li><%= link_to :Profile, parent_profile_path %></li>
          <li><%= link_to :Settings, parent_settings_path %></li>
        <% end %>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>