<!DOCTYPE html>
<html>
  <head>
    <title>FluffyCampFire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "/layouts/top_nav" %>

    <% if flash[:notice] %>
      <div class="alert alert-warning">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
